<% include partials/header.ejs %>
<body>
  <div class="container">
    <h1 class="title">Formongo</h1>
    <small>germancutraro</small>
    <br><br>
    <a href="/add">Add a Contact</a>
    <a href="/contacts">See contacts</a>
  </div>
</body>
</html>
