.container {
  margin: 15px;
}

input {
  display: block;
  padding: 4px;
}

.title {
  display: inline-block;
}

a {
  padding: 2px 5px;
}

table, tr, th, td {
  border: 1px solid #eee;
}

table {
  border-collapse: collapse;
  text-align: center;
}

tr, th, td {
  padding: 10px 30px;
}

form {
  margin-top: 25px;
}

.title-contact {
  margin: 35px auto;
}
